@import "normalize.scss";
@import "fonts.scss";
@import "var&mixin.scss";
@import "base.scss";
@import "header.scss";

/*MAIN-pg*/

#section__main-pg {
    background-image: url(../img/main-pg/bkground.png);
    @extend %section-bg;

}

.main-pg{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.we-do {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main__img-wrap {
    width: 34%;
}

.main__text-wrap {
    flex-direction: column;
    width: 62%;
    padding-left: rem(100px);
    padding-top: rem(115px);
}

.main__text {
    font-family: lifehack;
    font-weight: 500;
    color: #fff;
    font-size: rem(65px);
    line-height: .9;
    padding-top: rem(10px);
}

.btn-nextpg {
    display: block;
    position: absolute;
    top: 95%;
    right: 49%;
    width: rem(29px);
    height: rem(14px);
    background: url(../img/main-pg/arrow-scroll.png) 0 0 no-repeat;
}
/*WE-pg*/


#section__we-pg {
    background-image: url(../img/we-pg/bkground.jpg);
    @extend %section-bg;
    padding: 110px 49px;     
}

.we-pg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.we-pg__H1-wrap {
    margin-bottom: 9%;
}

.heading__we-pg {
    color: #2f3234;
    text-align: center;
}

.we-list-wrap {
    padding-bottom: 13%;

}

.we__list {
    display: flex;
    justify-content: space-around; 
}

.we__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: rem(0px) rem(25px);
}

.we__item__pic-wrap--meat {
    width: (97px);
    height: rem(89px);
    background: url(../img/we-pg/meat.png) 0 0 no-repeat;
}

.we__item__pic-wrap--hang {
    width: rem(73px);
    height: rem(85px);
    background: url(../img/we-pg/hand.png) 0 0 no-repeat;
}

.we__item__pic-wrap--natural {
    width: rem(88px);
    height: rem(75px);
    background: url(../img/we-pg/natural.png) 0 0 no-repeat;
}

.we__item__heading {
    font-size: rem(24px);
    font-family: "lifehack";
    color: rgb(47, 50, 52);
    padding-top: rem(18px);
}

.we__item__text {
    font-size: rem(14px);
    color: rgba(47, 50, 52, 0.8);
}
// ending WE-pg


// BURGERS

#section__burgers {
    background-color: $yellow;
}

.burgers-pg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgers__wrap {
    display: flex;
    width: rem(940px);
    height: rem(480px);
    overflow: hidden;
}

.burgers__img {
    width: rem(470px);
    object-fit: fill;
}

.burgers__list {
    display: flex;
    position: relative;
    will-change: right;
    transition: right .3s;
}

.burgers__item {
    width: rem(940px);
    height: rem(480px);
    display: flex;
    flex-wrap: wrap;
}

.burgers__characteristics {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: "gagalin";
}

.burgers__composition {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: rem(90px);
    height: rem(90px);
    background-color: #f08c33;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    line-height: 2.008;
    cursor: help;
}

.burgers__calories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.714;
}
 
.burgers__img-wrap {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: rem(40px);
}

.burgers__content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
}

.burgers__H1-wrap {
    margin-bottom: 40px;
}

.heading__burgers {
    color: #fff;
    line-height: 1;
}

.burgers__content-wrap {
    display: flex;
    flex-direction: column;   
}

.burgers__description {
    font-size: rem(14px);
    font-family: "ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;   
    padding-bottom: rem(40px);
}

.burgers__order-wrap {
    display: flex;
    flex-wrap: wrap;
}

.burgers__prise-wrap {
        font-size: rem(30px);
        font-family: "gagalin";
        color: $orange;
        line-height: 0.39;
        margin-right: rem(20px);
}

.burgers__prise {
    font-size: rem(72px);
    font-family: "gagalin";
    line-height: 0.39;  
}

.burgers__arrow {
    position: absolute;
    width: rem(15px);
    height: rem(27px);
}

.burgers__arrow-right {
    background: url(../img/burgers/arrow-right.png) 0 0 no-repeat;
    right: -5%;
}

.burgers__arrow-left {
    background: url(../img/burgers/arrow-left.png) 0 0 no-repeat;
    left: -5%;
}
// -------------------------
// BURGERS TEMPLATE
.jsBlockIngredients {
    position: absolute;
    top: 3%;
    left: 105%;    
}

.ingredientsList {
    position: absolute;
    top: 3%;
    left: 105%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: rem(270px);
    min-height: rem(335px);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 14px;
    font-family: "Ubuntu";
    color: $dark;
    line-height: 1.714;
} 

.ingredientsItem { 
    display: flex;
    justify-content:space-around;
    width: 100%;
    align-items: center;
    padding: 10px 0px;
}
// -----------------------------
// ending burgers


// TEAM

#section__team {
    @extend %section-bg;
    background-image: url(../img/team/bkgroung.jpg);
    background-position: inherit;
    position: relative;
}

.team {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(#2f3234, .9 );
}

.team-container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5%;
    padding-left: 20%;
}

.accordeon {
    height: 80%;
}

.team__list {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include ubuntu (light);
  
}

.team__item-activ {
    .accordeon__content {
        height: auto;
    }

    .team__member {
        color: $yellow;
    }

    &::before {
        transform: rotate(180deg);
    }
}

.team__item {
    font-size: rem(14px);
    color: rgb(255, 255, 255); 
    font-family: "gagalin";
    line-height: 2.008;
      
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: rem(10px) solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0px; 
    }
}

.team__member {
    font-size: rem(14px);
    font-family: "gagalin";
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-bottom: rem(10px);

}

.accordeon__content {
    display: flex;
    height: 0;
    overflow: hidden;
}

.accordion__content {
    display: none;
}

.accordeon__pic {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    overflow: hidden;
    // flex-basis: 100%;
    // min-width: 100%;
} 

.team__position {
    @include ubuntu (bold);
    font-size: rem(14px);
} 
// ending team


// МЕНЮ

#menu {
    background-image: url('../img/menu/bkground.jpg');
    @extend %section-bg;
    position: relative;
}

    .menu__H1-wrap {
        padding: 80px 100px;

        & .heading__menu {
            color: #fff;
        }
    }

    .menu__accordeon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

        .menu__item {
            color: #fff;
            display: flex;
        }


.menu__title-container {
    position: relative;
    width: 80px;
    height: 100vh;

}

.menu__title-container-meat {
    background: url(../img/menu/bkground-meat.jpg) center center no-repeat;
    background-size: cover
}

.menu__title-container-vegan {
    background: url(../img/menu/bkground-vegan.jpg) center center no-repeat;
    background-size: cover
}

.menu__title-container-diet {
    background: url(../img/menu/bkground-diet.jpg) center center no-repeat;
    background-size: cover
}



.menu__title-wrap {
    position: absolute;
    bottom: 0;
    transform: rotateZ(-90deg);
    transform-origin: 0 0;
}

.menu__acco-title {
    font-family: 'gagalin';
    font-size: 40px;
    white-space: nowrap;
    cursor: pointer;
}

.menu__content {
    background-color: $dark;
    opacity: .9;
    height: 100vh;
    width: 0;
    overflow: hidden;
}

.menu__item-activ {
    
    & .menu__content {
        width: 540px;
        padding: 35px 60px;
    }

    & .menu__acco-title {
    color: $yellow;
    }
}

// ending меню
  

/*REVIEWS*/


#section__reviews {

    background-image: url('../img/reviews/bkground.png');
    @extend %section-bg;
    display: flex;
}

.reviews__wrap {
    height: 100%;
    display: flex;
    align-items: center;
}

.reviews__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.reviews__item {
    display: block;
    width: 25%;
    height: 50%;
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    filter: grayscale(100%);
}


.reviews__item-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(47, 50, 52, 0.0);
    padding: rem(50px) rem(20px);
}

.reviews__item-wrap:hover {
    background: rgba(47, 50, 52, 0.6);
    transition: .5s;
}

.reviews__item-wrap:hover 
.reviews__item__header {
    color: rgb(255, 255, 255);
    transition: .5s;
}

.reviews__item-wrap:hover 
.reviews__item__text {
    color: rgb(255, 255, 255);
    transition: 1s;
}

.reviews__item-wrap:hover 
.reviews__item__btn {
    color: rgb(255, 255, 255);
    background: #2f3234;
    transition: 1.5s;
}

.reviews__item__header {
    display: block;
    margin-bottom: rem(25px);
    font-size: rem(14px);
    font-family: "gagalin";
    line-height: 2.008;
    color: rgba(47, 50, 52, 0.0);
}

.reviews__item__text {
    display: block;
    margin-bottom: rem(15px);
    font-size: rem(14px);
    color: rgba(47, 50, 52, 0.0);
}

.reviews__item__btn {
    display: inline-block;
    padding: rem(15px) rem(10px);
    font-size: rem(13px);
    text-transform: uppercase;
    border-radius: 3px;
    color: rgba(47, 50, 52, 0.0);
    background: rgba(47, 50, 52, 0.0);
}
// ending REVIEWS


// FORM

#section__form {
    background-image: url('../img/form/bkground.jpg');
    @extend %section-bg;
}

.container__order {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.form__wrap {
    width: 100%;
    height: rem(380px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.order__title {
    font-family: serif;
    font-size: rem(72px);
    color: $yellow;
    text-transform: uppercase;
}

.form {
    font-size: rem(14px);
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
}
  
.form__content {
    display: flex;
    justify-content: center;
  }
  
.form__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.form__row, .form__radio-wrap {
    display: flex;
    align-items: center;
}
  
.form__cell {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.form__label, .form__input {
    margin-right: rem(20px);
    margin-bottom: rem(10px);
    border-radius: 5px;
}

.form__input {
    height: rem(35px);
}
  
.input-name {
    width: rem(220px);
}
  
.input-st {
    width: rem(460px);
}

.input-adress {
    width: rem(100px);
}

.form__tx-area {
    width: rem(460px);
    height: rem(110px);
    border-radius: 5px;
}

.form__radio-text {
    padding: rem(15px) rem(10px);
}
// ending form


// MAP

#section__map {
    background-image: url('../img/map-pg/bkgroung.jpg');
    @extend %section-bg;
}
// ending map


// SIDEMENU

.side-menu {
    position: fixed;
    left: 98%;
    top: 5%;
}

.side-menu__list {
    height: rem(150px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-menu__item {
    // width: 10px;
    // height: 10px;
    // border-radius: 50%;
    // background: #fff;

}


// FOOTER
footer {
    position: relative;
    width: 100%;
}
