@import "normalize.scss";
@import "fonts.scss";
@import "var&mixin.scss";
@import "base.scss";
@import "header.scss";

/*MAIN-pg*/

#section__main-pg {
    background-image: url(../img/main-pg/bkground.png);
    @extend %section-bg;

}

.main-pg{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.we-do {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main__img-wrap {
    width: 34%;
}

.main__text-wrap {
    flex-direction: column;
    width: 62%;
    padding-left: rem(100px);
    padding-top: rem(115px);
}

.main__text {
    font-family: lifehack;
    font-weight: 500;
    color: #fff;
    font-size: rem(65px);
    line-height: .9;
    padding-top: rem(10px);
}

.btn-nextpg {
    display: block;
    position: absolute;
    top: 95%;
    right: 49%;
    width: rem(29px);
    height: rem(14px);
    background: url(../img/main-pg/arrow-scroll.png) 0 0 no-repeat;
}
/*WE-pg*/


#section__we-pg {
    background-image: url(../img/we-pg/bkground.jpg);
    @extend %section-bg;
    padding: 110px 49px;     
}

.we-pg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.we-pg__H1-wrap {
    margin-bottom: 9%;
}

.heading__we-pg {
    color: #2f3234;
    text-align: center;
}

.we-list-wrap {
    padding-bottom: 13%;

}

.we__list {
    display: flex;
    justify-content: space-around; 
}

.we__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0px 25px;
}

.we__item__pic-wrap--meat {
    width: 97px;
    height: 89px;
    background: url(../img/we-pg/meat.png) 0 0 no-repeat;
}

.we__item__pic-wrap--hang {
    width: 73px;
    height: 85px;
    background: url(../img/we-pg/hand.png) 0 0 no-repeat;
}

.we__item__pic-wrap--natural {
    width: 88px;
    height: 75px;
    background: url(../img/we-pg/natural.png) 0 0 no-repeat;
}

.we__item__heading {
    font-size: 24px;
    font-family: "lifehack";
    color: rgb(47, 50, 52);
    padding-top: 18px;
}

.we__item__text {
    font-size: 14px;
    color: rgba(47, 50, 52, 0.8);
}
// ending WE-pg


// BURGERS

#section__burger {
    background-color: $yellow;
}
// ending burgers


// TEAM

#section__team {
    @extend %section-bg;
    background-image: url(../img/team/bkgroung.jpg);
    background-position: inherit;
    position: relative;
}

.team {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(#2f3234, .9 );
}

.team-container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5%;
    padding-left: 20%;
}

.accordeon {
    height: 80%;

}

.team__list {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: rgb(255, 255, 255);
    line-height: 2.008;
}

.team__item-activ {
    .accordeon__content {
        height: auto;
    }

    .team__member {
        color: $yellow;
    }

    &::before {
        transform: rotate(180deg);
    }
}

.team__item {

    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: rem(10px) solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0px; 
    }
}

.accordeon__content {
    display: flex;
    height: 0;
    overflow: hidden;
}

.team__member {
    font-size: 14px;
    font-family: "gagalin";
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;

}

.accordion__content {
    display: none;
}

.accordeon__pic {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    overflow: hidden;
    // flex-basis: 100%;
    // min-width: 100%;
}  
// ending team


// МЕНЮ

#section__menu {
    background-image: url('../img/menu/bkground.jpg');
    @extend %section-bg;
}
// ending меню
  

/*REVIEWS*/


#section__reviews {
    width: 100%;
    height: 100%;
    background-image: url('../img/reviews/bkground.png');
    @extend %section-bg;
    display: flex;
}

.reviews__wrap {
    height: 100%;
    display: flex;
    align-items: center;
}

.reviews__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.reviews__item {
    display: block;
    width: 25%;
    height: 50%;
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    filter: grayscale(100%);
}


.reviews__item-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(47, 50, 52, 0.0);
    padding: 50px 20px;
}

.reviews__item-wrap:hover {
    background: rgba(47, 50, 52, 0.6);
    transition: .5s;
}

.reviews__item-wrap:hover 
.reviews__item__header {
    color: rgb(255, 255, 255);
    transition: .5s;
}

.reviews__item-wrap:hover 
.reviews__item__text {
    color: rgb(255, 255, 255);
    transition: 1s;
}

.reviews__item-wrap:hover 
.reviews__item__btn {
    color: rgb(255, 255, 255);
    background: #2f3234;
    transition: 1.5s;
}

.reviews__item__header {
    display: block;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: "gagalin";
    line-height: 2.008;
    color: rgba(47, 50, 52, 0.0);
}

.reviews__item__text {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: rgba(47, 50, 52, 0.0);
}

.reviews__item__btn {
    display: inline-block;
    padding: 15px 10px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 3px;
    color: rgba(47, 50, 52, 0.0);
    background: rgba(47, 50, 52, 0.0);
}
// ending REVIEWS


// FORM

#section__form {
    background-image: url('../img/form/bkground.jpg');
    @extend %section-bg;
}

.container__order {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.form__wrap {
    width: 100%;
    height: rem(380px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.order__title {
    font-family: serif;
    font-size: rem(72px);
    color: $yellow;
    text-transform: uppercase;
}

.form {
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    line-height: 1.714;
}
  
.form__content {
    display: flex;
    justify-content: center;
  }
  
.form__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.form__row, .form__radio-wrap {
    display: flex;
    align-items: center;
}
  
.form__cell {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.form__label, .form__input {
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form__input {
    height: rem(35px);
}
  
.input-name {
    width: rem(220px);
}
  
.input-st {
    width: rem(460px);
}

.input-adress {
    width: rem(100px);
}

.form__tx-area {
    width: rem(460px);
    height: rem(110px);
    border-radius: 5px;
}

.form__radio-text {
    padding: rem(15px) rem(10px);
}
// ending form


// MAP

#section__map {
    background-image: url('../img/map-pg/bkgroung.jpg');
    @extend %section-bg;
}
// ending map


// SIDEMENU

.side-menu {
    // background: #fff;
    position: fixed;
    left: 98%;
    top: 5%;
}

.side-menu__list {
    height: rem(150px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-menu__item {
    // width: 10px;
    // height: 10px;
    // border-radius: 50%;
    // background: #fff;

}


// FOOTER
footer {
    position: relative;
    width: 100%;
}
