
$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;


$phones: 480px;

@mixin phones {
  @media screen and (max-width:$phones) {
    @content;
  }
}

$tablets: 768px;

@mixin tablets {
  @media screen and (max-width:$tablets) {
    @content;
  }
}


@mixin placecolor($color: #000000) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-input-placeholder {
    color: $color;
  }
  &::-webkit-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
}


// миксин кружков для меню навигации хедера
@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
}


// переводит в относительные ед изм
@function rem($px) {
  @return $px / 16px+0rem;
}


// бкграунд в секциях
%section-bg {
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover;
}